.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: fixed;

    .logo{
        margin: 5px;
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;
    }
}



